{% extends "ranklist/base.html" %}

{% block css_block %}{% endblock %}

{% block months_active %}class="active"{% endblock %}

{% block list_container %}
    <input id="datepicker" class="datepicker bg-primary datepicker-width" data-provide="datepicker" value="{{ time.year }}"></button>
    <div id="listContents">
        {% for month in months %}
            <button class="listBtn" onclick="drowChart('all', {{ time.year }}, {{ month }})">{{ month }}</button>
            <br>
        {% endfor %}
    </div>
{% endblock %}

{% block contents %}{% endblock %}

{% block script_block %}
    <script>
        var page = 'months';
        var year = {{ time.year }};
        var month = {{ time.month }};
        $('#datepicker').datepicker({
            format: "yyyy",
            minViewMode: "years",
            autoclose: true
        }).on('changeDate', function(ev){
            changeList();
        });

        drowChart('all', year, month);
    </script>
{% endblock %}