{% extends "ranklist/base.html" %}

{% block years_active %}class="active"{% endblock %}

{% block list_container %}
    <div id="listContents">
        {% for year in years %}
            <button class="listBtn" onclick="drowChart('all', {{ year }})">{{ year }}</button>
            <br>
        {% endfor %}
    </div>
{% endblock %}

{% block contents %}{% endblock %}

{% block script_block %}
    <script>
        var page = 'years';
        var year = '{{ time.year }}';

    drowChart('all', year);
    </script>
{% endblock %}